<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 配置连接数据库的基本信息、连接池信息、批量操作信息-->
		<!-- 配置信息见hibernate源码 hibernate.properties文件 -->
		<property name="connection.driver_class">@jdbc.driver@</property>
		<property name="connection.url">@test.jdbc.url@</property>
		<property name="connection.username">@test.jdbc.username@</property>
		<property name="connection.password">@test.jdbc.password@</property>
		<property name="connection.isolation">2</property><!-- 设置数据库事务隔离级别 1READ_UNCOMMITED|2READ_COMMITED|4REPEATABLE_READ|8SERIALIZEABLE -->

		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.max_statements">60</property>
		<property name="hibernate.c3p0.timeout">2000</property>
		<property name="hibernate.c3p0.idle_test_period">2000</property>

		<property name="hibernate.jdbc.fetch_size">100</property><!-- 设定jdbc的Statement读取数据的时候每次从数据库取出的记录数 -->
		<property name="hibernate.jdbc.batch_size">30</property><!-- 设置对数据库进行批量删除，批量更新和批量插入时的批次大小 -->
		

		<!-- 配置hibernate的基本信息 和 二级缓存信息 -->
		<property name="hibernate.use_identifier_rollback">true</property><!-- 设置delete方法执行后对象立即变为临时状态 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property><!-- create|create-drop|update|validate -->

		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<!-- <property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property> -->
		
		
		<!-- 引入映射文件 -->
		<!-- test01.hello -->
		<!-- <mapping resource="test01/hello/News.hbm.xml" /> -->
		
		<!-- test02.session -->
		<!-- <mapping resource="test02/session/News.hbm.xml" /> -->
		
		<!-- test06.component_orm -->
		<!-- <mapping resource="test06/component_orm/Worker.hbm.xml" /> -->
		
		<!-- test07.one2many_oneway -->
		<!-- <mapping resource="test07/many2one_oneway/Order.hbm.xml"/>
		<mapping resource="test07/many2one_oneway/Customer.hbm.xml"/> -->
		
		<!-- test08.one2many_twoway -->
		<!-- <mapping resource="test08/many2one_twoway/Order.hbm.xml"/>
		<mapping resource="test08/many2one_twoway/Customer.hbm.xml"/> -->
		
		<!-- test09.ono2one_foreign -->
		<!-- <mapping resource="test09/ono2one_foreign/Mgr.hbm.xml"/>
		<mapping resource="test09/ono2one_foreign/Dept.hbm.xml"/> -->
		
		<!-- test10.one2one_primary -->
		<!-- <mapping resource="test10/one2one_primary/Mgr.hbm.xml"/>
		<mapping resource="test10/one2one_primary/Dept.hbm.xml"/> -->
		
		<!-- test11.many2many_oneway -->
		<!-- <mapping resource="test11/many2many_oneway/Category.hbm.xml"/>
		<mapping resource="test11/many2many_oneway/Item.hbm.xml"/> -->
		
		<!-- test12.many2many_twoway -->
		<!-- <mapping resource="test12/many2many_twoway/Category.hbm.xml"/>
		<mapping resource="test12/many2many_twoway/Item.hbm.xml"/> -->
		
		<!-- test13.subclass -->
		<!-- <mapping resource="test13/subclass/Person.hbm.xml"/> -->
		
		<!-- test14.joined_subclass -->
		<!-- <mapping resource="test14/joined_subclass/Person.hbm.xml"/> -->
		
		<!-- test15.union_subclass -->
		<!-- <mapping resource="test15/union_subclass/Person.hbm.xml"/> -->
		
		<!-- test17.hql_qbc_sql -->
		<!-- <mapping resource="test17/hql_qbc_sql/Emp.hbm.xml"/>
		<mapping resource="test17/hql_qbc_sql/Dept.hbm.xml"/> -->
		
		<!-- test18.second_level_cache -->
		<!-- <mapping resource="test18/second_level_cache/Emp.hbm.xml"></mapping>
		<mapping resource="test18/second_level_cache/Dept.hbm.xml"></mapping> -->
		
		<!-- test19.session_manager -->
		<mapping resource="test19/session_manager/Emp.hbm.xml"/>
		<mapping resource="test19/session_manager/Dept.hbm.xml"/>
		
		<!-- 配置要缓存的类和集合（注意放在最后，也可以在hbm映射文件里面配置） -->
		<!-- 
		<class-cache usage="read-write" class="hb18.second_level_cache.Dept"/>
		<collection-cache usage="read-write" collection="hb18.second_level_cache.Dept.emps"/>
		-->
	</session-factory>
</hibernate-configuration>
